.container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.iconBtn {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background: #555555;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconBtn:hover {
    background: #777777;
}

.iconBtn.active {
    background: #1ED884;
    color: #ffffff;
}

.iconBtn.active:hover {
    background: #43e59c;
}

.icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.timeInput {
    width: 40px;
    background: #555555;
    border: none;
    color: #ffffff;
    font-size: 10px;
    font-family: monospace;
    border-radius: 2px;
    padding: 0 4px;
    text-align: center;
}
